*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 1140px;
  gap: 30px;
  display: flex;
  flex-direction: row;
  align-items: end;
}

.content__details {
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 30px;
}

.result__video-container {
  position: relative;
  width: 710px;
  height: 386px;
  margin-bottom: 14px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  width: 194px;
  min-height: 100px;
}

.content__video-card-description-container {
  width: 196px;
  flex-grow: 1;
  line-height: 1.1;
}

.content__video-card-description {
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 8px;
}

.title {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 0.9;
  padding-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: white;
}

.content__video-card-title {
  font-size: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Oswald", Arial, sans-serif;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  gap: 5px;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.search-form__textfield {
  appearance: none;
  width: 225px;
  background-color: transparent;
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 0;
  border-right: 0;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: (255 255 255 / 0.7);
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
  padding: 1px;
}
.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  min-height: 35px;
  border: 1px solid white;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: white;
}

.content__card-link_current,
.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__card-link_current,
.content__card-link:active {
  background-color: #545050;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}
